@model FizzBuzzMVC.Models.FizzBuzz


<div class="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row gy-2 h-100 row-cols-md-2 row-cols-1">
        <div class="col border-2 border-end">
            <h1 class="fw-bold lh-1 mb-3">Fizzbuzz</h1>
            <h4 class="lead">
                This app takes two numbers entered by the user and checks if any of the numbers from 1 to 100 are divisable by them. 
                It will print FIZZ for the numbers that are divisible by the first number and BUZZ for the numbers divisble by the second. 
                If any number is divisble by both of the user's numbers, then FIZZBUZZ will be printed! In the case that none of these 
                conditions are satisfied, then the number will simply be displayed.
            </h4>
            
            <h2 class="mt-5 border-bottom border-2">Instruction</h2>
            <p>Please enter two numbers and press the Submit button to evaluate FIZZ for the first number, BUZZ for the second and FIZZBUZZ if they can both divide any of the numbers 1-100!</p>
        </div>
        <div class="col">
            <div>
                <h5>Enter numbers</h5>
              
            <form class="row gy-2 gx-3" asp-action="FBPage" asp-controller="Home" method="post">
                <div class="col">
                    <label asp-for="FizzValue">Fizz Value</label>
                    <input type="number" asp-for="FizzValue" class="form-control" value="@Model.FizzValue" placeholder="Enter FIZZ" />
                </div>
                <div class="col">
                    <label asp-for="BuzzValue">Buzz Value</label>
                    <input type="number" asp-for="BuzzValue" class="form-control" value="@Model.BuzzValue" placeholder="Enter BUZZ" />
                </div>
                <div class="col-12 d-flex align-items-center justify-content-lg-end justify-content-start">
                    <button id="btnSubmit" type="submit" class="btn btn-dark btn-lg">
                        Submit
                    </button>
                </div>
            </form>
            <h2 class="mt-5 border-bottom border-2">Results</h2>
            <div class="table-responsive">
                @* Table goes here *@
                @if ( @Model.Result.Count() > 0)
                {
                    <table class="table-striped table-hover table table-dark">
                        <thead>
                            <tr><th colspan="5">Fizz Buzz Results</th></tr>
                        </thead>
                        @for (int i=0; i < Model.Result.Count(); i += 5)
                        {
                            <tr><td>@Model.Result[i]</td><td>@Model.Result[i+1]</td><td>@Model.Result[i+2]</td><td>@Model.Result[i+3]</td><td>@Model.Result[i+4]</td></tr>
                        }
                    </table>
                }
                    
                
            </div>
        </div>
    </div>
</div>